@model Seller

@{ViewData["Title"] = "Delete";}

<br />
<h2>@ViewData["Title"]</h2>
<br />
<hr />
<dl>
    <dt>@Html.DisplayNameFor(obj => obj.Name)</dt>
    <dd>@Html.DisplayFor(obj => obj.Name)</dd>

    <dt>@Html.DisplayNameFor(obj => obj.BirthDate)</dt>
    <dd>@Html.DisplayFor(obj => obj.BirthDate)</dd>

    <dt>@Html.DisplayNameFor(obj => obj.Email)</dt>
    <dd>@Html.DisplayFor(obj => obj.Email)</dd>

    <dt>@Html.DisplayNameFor(obj => obj.BaseSalary)</dt>
    <dd>@Html.DisplayFor(obj => obj.BirthDate)</dd>

</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" class="btn btn-danger" asp-controller="Sellers" asp-action="Delete" value="Delete"/>
    <a class="btn btn-secondary" asp-controller="Sellers"  asp-action="Index">Voltar</a>
</form>